body {
  background-color: #f8f9fa;
  -webkit-user-select: none;
    /* Safari/Chrome */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
}

#logo {
  vertical-align: middle;
}

table {
  margin-top: 20px;
}

.arrow {
  width: 16px;
  height: 16px;
  transform-origin: 50% 50%;
}


